:root {
  --background: #d0e7e6;
  --highlight: #95ccdd;
  --shade: #4274d9;
  --dark: #293681;
  --text: #1b203e;
  --shadow: #161e4d75;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--background);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 40px 15px;
}

.hidden {
  opacity: 0%;
}

#startScreen {
  height: 17rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background: whitesmoke;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: var(--shadow);
  color: var(--text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.inputName {
  width: 14rem;
  height: 2.5rem;
  padding: 10px;
  border-radius: 10px;
  border-color: var(--shadow);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}
#startBtn {
  padding: 10px;
  width: 100px;
  background: var(--highlight);
  border-radius: 10px;
  border: rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  font-weight: 700;
  color: var(--text);
  margin-top: 10px;
}
h1 {
  font-weight: 800;
}
label {
  font-weight: 700;
}
